<%- include('../partials/header') %>

<h1>About Me</h1>
<p>My name is Saad Choudhary. I am 20 years old and currently a student at Ontario Tech University.</p>
<p>My background is Pakistani. I enjoy playing basketball and my favourite player is Kobe Bryant.</p>
<p>I also love cars and often go to car meets to check out cool builds and classic models.</p>

<%- include('../partials/footer') %>
