<%- include('../partials/header') %>

<h1 class="mb-4">Welcome to My Portfolio</h1>
<p>Hello, I’m Saad Choudhary. This is my personal website where I showcase my work, background, and contact info. Use the navigation bar above to explore!</p>

<%- include('../partials/footer') %>
