<%- include('../partials/header') %>

<h1 class="mb-4">My Projects</h1>

<ul class="list-group">
  <li class="list-group-item">
    <strong>Cloud Services Project</strong><br>
    A hands-on project where I deployed applications using Render and AWS. I explored deployment pipelines, scalability, and hosting environments.
  </li>
  <li class="list-group-item">
    <strong>Cryptography & Network Security Group Project</strong><br>
    Worked in a team to create a Python tool that demonstrated encryption and decryption using basic algorithms. Also presented a case study on data security practices.
  </li>
  <li class="list-group-item">
    <strong>Advanced Networking Case Study</strong><br>
    Analyzed a fictional company’s network, diagnosed bottlenecks, and proposed switching and routing improvements based on industry best practices.
  </li>
</ul>

<%- include('../partials/footer') %>

